.body_center {
  height: 200px;
  border: 10px rgb(240, 235, 65) solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: darkcyan;
}

.section-card {
  width: 100%;
  display:flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
}

.card {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px #9d9d9d solid;
}

.card > img {
  width: 200px;
  margin-bottom: 5px;
}

.card > h3 {
  margin: 0;
}

.card > p {
  margin: 0;
  width: 180px;
  min-height: 40px;
  text-align: justify;
}

.card > a {
  font-size: 25px;
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}


